{% extends "base.html" %}
{% block title %} task-notifications {% endblock %}

{% block content %}
{% if task_details %}
{% for task in task_details %}
 <div class="task-box">
   <p style="text-align: right;height: 0px;font-size: 14px">{{task.sender_name}}</p>
    <div class="details">
    <h2>{{task.title}}</h2>
    <p>{{task.description}}</p>
    </div>
    <div class="button" style="display: flex;gap: 34px; text-align: center;">
      <form action="{{url_for('tasks.addNotify')}}" method="post" style="display: contents;">
        <input type="hidden" name="title" value="{{task.title}}">
        <input type="hidden" name="description" value="{{task.description}}">
        <input type="submit" value="Add" class="share">
        <a href="{{url_for('tasks.deleteNotify',transfer_id=transfer_id)}}" class="share-delete">Reject</a>
      </form>

        
       
        </div>
 </div>
{% endfor %}
{% else %}
<div class="task-box">
    <p>No task notifications yet.</p>
</div>
{% endif %}
{% endblock %}